[Unit]
Description=A cool code notepad
After=network.target

[Service]
Type=simple
Environment=NODE_ENV=production
Environment=NODE_CONFIG_DIR=__FINALPATH__/config
User=__APP__
Group=__APP__
ExecStart=__YNH_NODE__ __FINALPATH__/server.js __PORT__
WorkingDirectory=__FINALPATH__/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=__APP__
Restart=always


[Install]
WantedBy=multi-user.target
